@font-face {
  font-family: "Funnel Display";
  src: url("./fonts/FunnelDisplay-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.woff2") format("woff2");
}

body {
  background: #fff;
  font-family: "Funnel Display", fantasy;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  gap: 0;
  justify-content: center;
}

main h1 {
  font-family: "Montserrat", fantasy;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 60px;
}

.text {
  text-align: center;
}

.input_section {
  display: flex;
  flex-direction: row;
  width: 65%;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  border-bottom: 1px solid #808080;
}

.input_section input {
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
  padding: 7px;
  font-family: inherit;
}
