@font-face {
  font-family: "Funnel Display";
  src: url("./fonts/FunnelDisplay-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.woff2") format("woff2");
}

body {
  background: #fff;
  font-family: "Funnel Display", fantasy;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  color: #333;
  height: 100vh;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin-bottom: 100px;
  gap: 0;
  justify-content: center;
}

main h1 {
  font-family: "Montserrat", fantasy;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 60px;
}

main .text {
  text-align: center;
}

.input_section {
  display: flex;
  flex-direction: row;
  width: 65%;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  border-bottom: 1px solid #808080;
}

.input_section input {
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
  padding: 7px 0;
  font-family: inherit;
}

footer {
  border-top: 1px solid #808080;
  width: 90%;
  margin: 0 auto;
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  gap: 30px;
}

footer .main_target {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.left_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  width: 40%;
}

.left_section .text {
  width: 400px;
  font-size: 15px;
}

.left_section .socials {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.left_section .socials > img {
  cursor: pointer;
}

.right_section {
  display: flex;
  width: 60%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.right_section div ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.right_section div ul li {
  cursor: pointer;
}

.right_section div ul h2 {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
}

footer .bottom_side {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 30px;
}

.bottom_side a {
  color: #333;
  text-decoration: none;
}
