@font-face {
  font-family: "Funny Display";
  src: url("./assets/fonts/FunnelDisplay-Regular.woff2");
  font-weight: 400;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Funny Display", fantasy;
  background-color: #eef8ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh;
}

.pricing_container > h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

.pricing_container > p {
  font-size: 18px;
}

.timeline_toggle {
  background-color: #caeaff;
  width: fit-content;
  padding: 5px;
  border-radius: 100px;
  position: relative;
  margin: 30px auto;
  display: flex;
}

.slider {
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(50% - 5px);
  height: calc(100% - 10px);
  background: white;
  border-radius: 50px;
  transition: transform 0.5s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 0;
}

.timeline_toggle button {
  flex: 1;
  padding: 5px;
  position: relative;
  z-index: 1;
  font-family: inherit;
  color: #808080;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 50px;
  transition: color 0.3s ease;
}

.timeline_toggle button.active {
  color: #333;
  font-weight: 600;
}

.pricing_cards {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 70px;
}

.pricing_card {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  height: fit-content;
  width: 370px;
  text-align: left;
  box-shadow: 0px 5px 5px #0000001f;
  border: 1px solid #80808070;
  cursor: pointer;
  transition: scale 0.6s ease;
}

.recommendation_indication {
  background-color: #caeaff;
  padding: 5px;
  border-radius: 25px;
}

.recommendation_indication > p {
  padding: 10px;
  font-size: 14px;
}

.pricing_card .title {
  font-size: 30px;
}

.main_pricing_details {
  margin-top: 25px;
}

.main_pricing_details > .cost {
  margin-bottom: 20px;
}

.main_pricing_details > .cost > .amount {
  font-size: 30px;
  font-weight: 600;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 0;
  border-top: 1px solid #808080;
}

.features > .heading {
  font-weight: 600;
}

.features > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.feature {
  display: flex;
  align-items: center;
  gap: 5px;
}

.feature img {
  width: 15px;
}

.pricing_card > button {
  margin-top: 25px;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-family: inherit;
  align-items: self-end;
  padding: 15px;

  cursor: pointer;
}

.pro-cta {
  background-color: #388fd1;
  color: #fff;
}
