@font-face {
  font-family: "Jumper";
  src: url("./fonts/Jumper_thin.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Funnel Display";
  src: url("./fonts/FunnelDisplay.woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: #333;
  color: #fff;
}

body {
  font-family: "Jumper", fantasy;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
  align-items: center;
}

.badge {
  display: flex;
  flex-direction: row;
  background-color: #edeaef;
  padding: 10px;
  border-radius: 30px;
  align-items: center;
  gap: 10px;
}

.badge > span:first-child {
  background-color: #fff;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin: 0 auto;
  width: 70%;
}

main > p {
  width: 40%;
  text-align: center;
  margin: 10px auto;
}

.get_notified_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: start;
  background-color: #fff;
  margin: 20px auto 0;
  width: 80%;
  box-shadow: 0px 10px 20px #00000015;
  padding: 40px;
  border-radius: 40px;
}

.joined_users {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
}

.joined_users img {
  width: 35px;
  height: 35px;
  position: absolute;
  border-radius: 50%;
}

.joined_users img:nth-child(2) {
  left: 28px;
}

.joined_users img:nth-child(3) {
  left: 56px;
}

.get_notified_container p {
  text-align: left;
}

.joined_users > p {
  font-family: "Funnel Display", fantasy;
  position: absolute;
  left: 84px;
  background-color: #fff;
  padding: 5px;
  border-radius: 50%;
  border: 0.7px solid #0000001c;
  font-size: 14px;
  display: flex;
  align-items: center;
  height: 35px;
  width: 35px;
}

.get_notified_container > h2 {
  margin-top: 30px;
}

.joining_box {
  display: flex;
  gap: 0;
  background-color: #f2f1f6;
  padding: 5px;
  margin-top: 20px;
  border-radius: 20px;
}

.joining_box > input {
  width: 100%;
  height: 100%;
  font-family: inherit;
  padding: 0 20px;
  border: none;
  outline: none;
  font-size: 16px;
  margin: auto 0;
  background: inherit;
}

.joining_box button {
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-family: inherit;
  align-items: center;
  padding: 15px 25px;
  border-radius: 15px;
  border: none;
  width: 205px;
  cursor: pointer;
}

.joining_box button img {
  width: auto;
  height: 22px;
}

footer {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  font-size: 14px;
  margin-top: 200px;
}

footer a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

@media (max-width: 1000px) {
  main {
    width: 80%;
  }
}

@media (max-width: 600px) {
  main {
    width: 90%;
  }

  .get_notified_container {
    width: 100%;
    margin-left: 0;
  }

  h1 {
    width: 90%;
    font-size: 35px;
  }

  main > p {
    width: 60%;
  }
}
